{% extends 'admin/base.html' %}

{% block script %}
    <script type=text/javascript src=https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js></script>
    <script type=text/javascript>
    
        $(function() {
            var checkboxes = $("input[type='checkbox']"),
                submitButt = $("input[class='delete']");
                checkboxes.click(function() {
                    submitButt.attr("disabled", !checkboxes.is(":checked"));
                });
        });
        
        $(function() {
            $( '#checkall' ).click(function(){
                $( '.checkboxes' ).attr( 'checked', $( this ).is( ':checked' ) );
            });
        });
        
    </script>
{% endblock %}

{% block content %}
    
    
    
    <table>
        <tr>
            <th>Add price category</th>
            <th>Add price subcategory</th>
        </tr>
        <tr>
            <td>
                {% if cat_error %}
                    <div class=error>
                        {{ cat_error }}
                    </div>
                {% endif %}
                <form action="" method=post>
                    <dl>
                    <dt>Name:
                    <dd><input size=type=text name=name>
                    <dt>Active:
                    <dd><input type=checkbox name=active>
                    <input type=hidden name=hidden value=addcat>
                    <p><input class=add type=submit value=Add>
                    </dl>
                </form>
            </td>
            <td>
                {% if subcat_error %}
                    <div class=error>
                        {{ subcat_error }}
                    </div>
                {% endif %}
                <form action="" method=post>
                <dl>
                <dt>Name:
                <dd><input size=type=text name=name>
                <select name=pcat>
                    {% for pcat in price_categories %}
                        {% if pcat['active'] %}
                            <option value="{{ pcat['id'] }}">{{ pcat['name'] }}</option>
                        {% else %}
                            <option value="{{ pcat['id'] }}" disabled>{{ pcat['name'] }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <dt>Active:
                <dd><input type=checkbox name=active>   
                <input type=hidden name=hidden value=addsubcat>
		        <p><input class=add type=submit value=Add>
		        </dl>
                </form>
            </td>
        </tr>
    </table>
    
    
    
    
    {% if not price_categories %}
        There are no price categories
    {% else %}
        <h3>Price categories</h3>
        <form action="" method=post>
            <input type=hidden name=hidden value=delete>
		        {% for pcat in price_categories %}
					<h4>{{ pcat['name'] }}</h4><a href="{{ url_for('delete_price_category', id = pcat['id']) }}" onclick="return confirm('Are you sure you want to delete the price category {{ pcat['name'] }}?')">delete</a>
					
					    
							<table>
								<tr>
									<th></th>
									<th>ID</th>
									<th>Name</th>
									<th>Active</th>
									<th>Last update</th>
									<th>Add price list</th>
									<th>Delete</th>
								</tr>
								{% for psubcat in price_subcategories %}
								    {% if psubcat['price_category_id'] == pcat['id'] %}
									<tr>
									  <td><input class=checkboxes type=checkbox name=do_delete value="{{ psubcat['id'] }}"></td>
									  <td>{{ psubcat['id'] }}</td>
									  <td>{{ psubcat['name'] }}</td>
									  <td>{{ psubcat['active'] }}</td>
									  <td>{{ psubcat['last_update'] }}</td>
									  <td><a href="{{ url_for('add_price_list', subcategory_id = psubcat['id']) }}">Add price list</a></td>
									  <td><a href="{{ url_for('delete_price_subcategory', id = psubcat['id']) }}" onclick="return confirm('Are you sure you want to delete the price subcategory {{ psubcat['name'] }}?')">delete</a></td>
									</tr>
									{% endif %}
								{% endfor %}
							</table>
						
		        {% endfor %}
		    
		    With selected:
            <input class=delete type=submit value=Delete disabled>
	    </form>
    {% endif %}
{% endblock %}